/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Poppins:wght@200;400;600&display=swap');

:root{
/*Color mode HSL*/
  --orange: hsl(25, 97%, 53%);
  --light-orange: hsl(26, 76%, 46%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-grey: hsl(215, 30%, 25%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);

/*=====Body Font=====*/
 --body-font: "Overpass";

/*=====Font Weight=====*/
  --font-regular: 400;
  --font-bold: 700;
}

/*========== BASE ==========*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background-color: var(--very-dark-blue);
  color: var(--white);
	font-family: var(--body-font);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  max-width: 100%;
  height: auto;
}

/*==========*/
.sctHidden{
  display: none;
}

.sctShow{
  display: block;
}

.cardSection{
  width: 350px;
  margin-bottom: 1rem;
  padding: 30px 25px;
  background-color: var(--dark-blue);
  border-radius: 20px;
}

.ratingSection .img_star{
  margin-bottom: 1rem;
  padding: 12px;
  background-color: var(--dark-grey);
  border-radius: 50%;
}

.ratingSection .ratingTitle,
.tyTitle{
  margin-bottom: 1rem;
  font-size: 24px;
  font-weight: var(--font-bold);
}

.ratingText{
  margin-bottom: 1.5rem;
  color: var(--medium-grey);
  font-size: 15px;
}

.ratingSection ul{
  display: flex;
  justify-content: space-between;
}

.ratingSection ul li{
  display: flex;
  width: 50px;
  height: 50px;
  margin-bottom: 1.5rem;
  background-color: var(--dark-grey);
  color: var(--medium-grey);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.ratingSection ul li:hover{
  background-color: var(--light-grey);
  color: var(--white);
}

.ratingSection ul li.active{
  background-color: var(--orange);
  color: var(--white);
}

.btn_submit{
  display: inline-flex;
  width: 100%;
  padding: 0.8rem 0;
  border: none;
  background-color: var(--orange);
  color: var(--white);
  font-size: 12px;
  font-weight: var(--font-bold);
  font-family: var(--body-font);
  letter-spacing: 2px;
  cursor: pointer;
  justify-content: center;
  border-radius: 2rem;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
}

.btn_submit:hover{
  background-color: var(--white);
  color: var(--orange);
}

.thankSection{
  text-align: center;
}

.tyTitle{
  margin-bottom: 1rem;
}

.tySectionRates{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tySectionRates img{
  width: 150px;
  margin-bottom: 1.8rem;
}

.ratesText{
  width: fit-content;
  margin-bottom: 1.8rem;
  padding: 5px 20px 3px;
  background-color: var(--dark-grey);
  color: var(--light-orange);
  font-size: 14px;
  border-radius: 15px;
}

.tyText{
  margin-bottom: 1rem;
  color: var(--medium-grey);
  font-size: 15px;
}

.attribution{
  font-size: 11px; 
  text-align: center; 
}

.attribution a{
  color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 767px) {
  .cardSection{
    width: 100%;
  }
}
